#Cart{
    width: 800px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#Cart .top{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
#Cart #cart-items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#Cart #checkout{
    height: 50px;
    background-color: #3f3f3f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Cart #checkout p{
    margin: 0;
}
#Cart .scrollable{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}