#Product{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#Product img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#Product h3, p{
    margin: 5px;
}

#Product #atc{
    margin: 5px 10px 0px;
}

#Product .between{
    display: flex;
    justify-content: space-between;
}